
-- Fix the accept_direct_request RPC function to match actual Supabase schema
CREATE OR REPLACE FUNCTION public.accept_direct_request(p_request_id UUID, p_provider_id UUID)
RETURNS boolean AS \$\$
DECLARE
    v_user_id UUID;
    v_service_id UUID;
    v_price NUMERIC(10,2);
    v_description TEXT;
BEGIN
    UPDATE public.requests
    SET status = 'Accepted'
    WHERE id = p_request_id AND status = 'Pending_Broadcast'
    RETURNING user_id, service_id, COALESCE(price, 0), description
    INTO v_user_id, v_service_id, v_price, v_description;

    IF FOUND THEN
        -- Insert into orders automatically
        INSERT INTO public.orders (id, user_id, provider_id, service_id, status, price, notes, created_at)
        VALUES (p_request_id, v_user_id, p_provider_id, v_service_id, 'accepted', v_price, v_description, now())
        ON CONFLICT (id) DO NOTHING;
        
        RETURN true;
    ELSE
        RETURN false;
    END IF;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

